.container {
    margin: 100px auto;
    width: 800px;
    /* height: 800px; */
    /* border: 1px solid black; */
    /* position: absolute; */
    padding: 30px;
    /* height: 50%; */
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
    /* clear: both; */
}

.container3 {
    margin-top: 20px;
    padding: 20px 20px 0;
    width: 150px;
    display: flex;
    box-shadow: -1px -1px 10px 1px rgba(0, 255, 0, .2), 2px 2px 10px 1px rgba(255, 0, 0, .2);
    flex-direction: column;
    /* overflow: hidden; */
}

.container4 {
    height: 100%;
}

.container:after {
    display: table;
    clear: both;
}

.square-container {
    width: 150px;
    /* height: 100%; */
    display: flex;
    align-items: end;
    justify-content: center;
}

.square {
    border-radius: 20%;
    width: 50px;
    height: 50px;
    background-color: red;
}

.squares-container {
    width: 70px;
    height: 12.5px;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

.black-square {
    width: 12.5px;
    height: 12.5px;
    background-color: black;
}

.circle {
    width: 12.5px;
    height: 12.5px;
    background-color: black;
    border-radius: 50%;
}

.main-circle-container {
    width: 50px;
    height: 25px;
    display: flex;
}

.circle-container {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.semicircle-container {
    width: 50px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.semicircle {
    width: 40px;
    height: 20px;
    /* background-color: black; */
    border-bottom-left-radius: 41px;  /* 100px of height + 10px of border */
    border-bottom-right-radius: 41px; /* 100px of height + 10px of border */
    border: 1px solid black;
}

@media (max-width: 960px) {
    .container {
        margin: 0 auto;
        width: 500px;
        flex-wrap: wrap;
    }
}

@media (max-width: 640px) {
    .container {
        width: 400px;
        flex-wrap: wrap;
    }
}

@media (max-width: 480px) {
    .container {
        width: 300px;
        flex-wrap: wrap;
    }
}

.card {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 20%;
}

.date {
    text-align: center;
    margin-bottom: 20px;
}

.card1 {
    background-size: 100%;
    background-image: url('../img/girl1.jpg');
}

.card2 {
    background-size: 100%;
    background-image: url('../img/girl2.jpg');
}

.card3 {
    background-size: 100%;
    background-image: url('../img/girl3.jpg');
}

.card4 {
    background-size: 100%;
    background-image: url('../img/girl4.jpg');
}